<footer>
    <div class="container">


        <div style="border-top: 1px solid #fff; text-align: center; margin-top: 40px; padding-top: 20px">

            <img src="images/logo.png" style="height: 100px">
            <p>Copyright 2018 - Greg Clement.  All Rights Reserved.</p>
        </div>
    </div>
</footer>