<header>
    <div class="container">
        <div class="header-container">
            <div class="navbar-brand">
                <a href="/" class="no-underline">
                    <img src="./images/logo.png">
                </a>
            </div>
            <div>
                <a>Home</a>
                <a>About</a>
                <a>My Projects</a>
                <a>Games</a>
                <a>Social</a>
            </div>
        </div>
    </div>
</header>