<header>
    <div class="container">
        <div class="header-container">
            <div class="navbar-brand">
                <a href="/" class="no-underline">
                    <img src="./images/logo.png">
                </a>
            </div>
            <div>
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#projects">My Projects</a>
                <a href="#games">Games</a>
                <a href="#social">Social</a>
            </div>
        </div>
    </div>
</header>