<div class="full-page-container">
  <div class="full-page-bg black-beach  darken-bg">

  </div>
  <div class="first-section content-with-bg" id="home" style="height: 100%;">
    <div class="vertical-center-container center">
      <div></div>
      <div>
        <div class="container" style="margin-top: -100px">
          <h1 class="upper">Greg Clement</h1>
          <img src="images/gregclement.jpg">
          <p>I write code, and I love it. I'm a full-stack software developer with twenty years creating
            solutions that increase user satisfaction and drive business productivity. I love engaging with
            smaller organizations focused on nimbly delivering innovative solutions to the ever-changing
            business landscape.</p>
          <p>I've worked on many technology stacks over the years. These days I spend my time working in
            Angular/JavaScript/HTML5/CSS3 on the front end, and C#/SQL Server for the back end. But I love
            to witness and participate in the creative disruption that new technology brings to the market
            place. I have a solid track record of aligning my skills to the needs of the business as we grow
            and develop together.</p>

          <a class="button">Learn More</a>
        </div>
      </div>
      <div>

      </div>
    </div>

  </div>
</div>
<div class="full-page-container" id="about">
  <div class="vertical-center-container">
    <div class="container">
      <div class="section-title center">
        <h2>About</h2>
        <span>
          <i class="fa fa-heart-o" aria-hidden="true"></i>
        </span>

      </div>
      <div class="center">
        <p>Code is a tool to solve a problem, not a means unto itself. I have spent the last 18 years solving
          problems and using code to do it. Every business domain problem can have its own nuances, but in
          general I have a set goto technology stack.</p>
      </div>

      <div flex id="aboutFlex">
        <div class="about-single"
          style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
          <div class="icon">
            <span><i class="fa fa-chrome" aria-hidden="true"></i></span>
          </div>
          <h4>Web</h4>
          <p>
            Over the years there have been UI frameworks that have come and gone (anyone remember
            Silverlight?), but the constant over the last two decades has been the HTML stack.
            With HTML5 adoption, the platform has matured to rival just about any competitor.
          </p>
        </div>
        <div class="about-single  wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s"
          style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
          <div class="icon">
            <span><i class="fa fa-mobile" aria-hidden="true"></i></span>
          </div>
          <h4>Mobile</h4>
          <p>
            Let's face it, you may not even be a real developer if you aren't at least looking at mobile
            development. Tiny super computers in everyones pockets has changed world yet again.
            It would seem in the near term, the biggest constraint of innovation is in the imagination
            technologist to envision new and exciting uses for the technology readily available.
          </p>
        </div>
        <div class="about-single wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s"
          style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
          <div class="icon">
            <span><i class="fa fa-cloud-upload" aria-hidden="true"></i></span>
          </div>
          <h4>REST</h4>
          <p>
            The days of 3-tier applications with every tier happily communicating on the same local network
            are long gone. Applications live where people live: everywhere.

          </p>
        </div>
        <div class="about-single wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s"
          style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInUp;">
          <div class="icon">
            <span><i class="fa fa-database" aria-hidden="true"></i></span>
          </div>
          <h4>Data</h4>
          <p>All that information has to go somewhere, and breadth of options for that somewhere has never
            been greater. </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="full-page-container white">
  <div class="full-page-bg mountain">

  </div>
  <div class="first-section content-with-bg" id="projects" style="height: 100%;">
    <div class="vertical-center-container ">
      <div class="container">
        <div class="section-title center">
          <h2>My Projects</h2>
          <span>
            <i class="fa fa-bolt" aria-hidden="true"></i>
          </span>

        </div>

        <div flex="">

          <div class="services" style="flex:1; display: flex; flex-direction: column">




          </div>

          <div class="services" style="flex:1">
            <div class="icon">
              <span><i class="fa fa-fire" aria-hidden="true"></i></span>
            </div>
            <h4>OneGuard Homeowner's Portal</h4>
            <span></span>
            <p>
              This was a project that was both a web application and a mobile application for Android and
              iOS for customers of OneGurd Home Warranties to access warranty information and submit
              claims.
            </p>
            <div style="margin-top: 30px; text-align: right">
              <a href="https://play.google.com/store/apps/details?id=net.oneguard.customerportal" target="_blank">
                <img src="/images/google-play.png" style="height: 23px">
              </a>
              <a href="https://itunes.apple.com/us/app/oneguard-homeowners/id1397571409?mt=8" target="_blank">
                <img src="/images/ios-app-store.png" style="height: 23px">
              </a>&nbsp;&nbsp;
              <a class="button" target="_blank" href="https://homeowners.oneguardhomewarranty.com/log-in">
                <div flex>
                  <div>
                    View
                  </div>
                  <div class="flex-none">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                  </div>
                </div>


              </a>
            </div>
          </div>


          <div class="services" style="flex:1; display: flex; flex-direction: column">
            <div style="flex: 1">
              <div class="icon">
                <span><i class="fa fa-user-secret" aria-hidden="true"></i></span>
              </div>
              <h4>Warranty Manager</h4>
              <span></span>
              <p>This is a project where I am re-writing the entire application front-end using angular as
                a single page application.</p>
            </div>
            <div style="flex: none; text-align: right">
              <a class="button" target="_blank" href="https://wm-ahs.azurewebsites.net/">
                View &nbsp;&nbsp; <i class="fa fa-chevron-right" aria-hidden="true"></i>



              </a>
            </div>

          </div>

        </div>
      </div>
    </div>



  </div>
</div>

<div class="full-page-container" id="games">
  <div class="full-page-bg">
    <video autoplay muted loop id="bg-video">
      <source src="/media/game-menu-bg.mp4">
    </video>
  </div>
  <div class="section-title center">
    <h2 style="color: #fff;">Games</h2>
    <span>
      <i class="fa fa-gamepad" aria-hidden="true" style="color: #fff;"></i>
    </span>



  </div>
  <div class="container">
    <div class="center">
      <p style="color: #fff;">
        Here are some of the simple games I have created over the years. None of them were ever a serious
        effort, but they were a whole lot of fun to make.</p>
    </div>

    <ul class="gamesList">
      <li>
        <a href="/games/tic-tac-toe">
          <img src="/images/tic_tac_toe_thumbnail.jpg">
          <div class="description">
            <h3>Tic-Tac-Toe</h3>
            Play against the computer or against a friend. Computer play has degrees of difficulty from easy to
            impossible.
          </div>
        </a>
      </li>
      <li>
        <a href="/games/connect-4">
          <img src="/images/connect_4_thumbnail.jpg">
          <div class="description">
            <h3>Connect 4</h3>
            Play against a friend with the classic game of connect 4.
          </div>
        </a>
      </li>

      <li>
        <a href="/games/bubbles">
          <img src="/images/bubbles_thumbnail.jpg">
          <div class="description">
            <h3>Bubble Burst</h3>
            Play the classic bubble burst game, with multiple styles of game play.
          </div>
        </a>
      </li>
    </ul>
    <ul class="gamesList">
      <li>
        <a href="/games/pong">
          <img src="/images/pong_thumbnail.jpg">
          <div class="description">
            <h3>Pong</h3>
            A really lame version of the classic game of pong.
          </div>
        </a>
      </li>
      <li>
        <a href="/games/rock-paper-scissors">
          <img src="/images/rock-paper-scissors-thumbnail.png">
          <div class="description">
            <h3>Rock Paper Scissors</h3>
            Another really simple game to demonstrate programming concepts.
          </div>
        </a>
      </li>

      <li>
        <a href="/games/asteroids">
          <img src="/images/asteroids_thumbnail.jpg">
          <div class="description">
            <h3>Asteroids</h3>
            A port of the classic game of asteroids into JavaScript.
          </div>
        </a>
      </li>
    </ul>

    <ul class="gamesList">
      <li>
        <a href="/games/moon-landing">
          <img src="/images/moon_landing_thumbnail.jpg">
          <div class="description">
            <h3>Moon Landing</h3>
            Another JavaScript port of the classic moon landing game.
          </div>
        </a>
      </li>
      <li>
        <a href="/games/skeet">
          <img src="/images/Skeet_thumbnail.jpg">
          <div class="description">
            <h3>Skeet Shoot</h3>
            Another JavaScript port of the classic skeet shoot game.
          </div>
        </a>
      </li>

      <li>
        <a href="/games/pac-man">
          <img src="/images/pacman_thumbnail.jpg">
          <div class="description">
            <h3>Pac-Man</h3>
            Another JavaScript port of the classic pac-man.
          </div>
        </a>
      </li>
    </ul>
    <ul class="gamesList">
      <li>
        <a href="/games/menu">
          <img src="/images/x-box-logo.png">
          <div class="description">
            <h3>Game Menu</h3>
            Arcade Style Game Menu
          </div>
        </a>
      </li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>

<div class="full-page-container white">
  <div class="full-page-bg alcatraz">

  </div>
  <div class="first-section content-with-bg" id="social" style="height: 100%;">
    <div class="vertical-center-container ">
      <div class="container">
        <div class="section-title center">
          <h2>Connect With Me</h2>
          <span>
            <i class="fa fa-address-card" aria-hidden="true"></i>
          </span>

        </div>
        <p class="center">Hit me up on the social networks</p>

        <div class="col-md-12 col-xs-12 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s"
          data-wow-offset="0"
          style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInRight; text-align: center;">

          <div class="center">
            <div>

              <a href="https://www.facebook.com/GregBClement">
                <img src="images/facebook.svg" class="social">
              </a>
              <a href="https://twitter.com/gregb_clement?lang=en">
                <img src="images/twitter.svg" class="social">
              </a>
              <a href="https://www.youtube.com/channel/UCGFOlm8Vgj-t8iFPKwcEQ5A?view_as=subscriber" target="_blank">
                <img src="images/youtube.svg" class="social">
              </a>
              <a href="https://www.linkedin.com/in/greg-clement-a91401a1/" target="_blank">
                <img src="images/linkedin.png" class="social">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>