<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Moon Landing</title>
    <link href="/stylesheets/html-games.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Major+Mono+Display&display=swap"
        rel="stylesheet">
    <style>
        @keyframes pan-out {
            from {
                transform: scale(1) translateX(0px);
            }

            90% {
                transform: scale(1.09) translateX(0px);
            }

            95% {
                transform: scale(1.095) translateX(-2000px);
            }

            100% {
                transform: scale(1.1) translateX(-2000px);
            }

        }


        body {
            background-color: #000;
            overflow: hidden;
            font-family: 'Fira Sans', sans-serif;
        }

        .g-gage {
            transform-origin: 50% calc(100% - 20px);
        }

        #splash-screen {
            background-image: url(/images/moon-landing/moon-landing-splash@0,5x.png);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 1;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #000;
            animation-name: pan-out;
            animation-duration: 10s;
            animation-timing-function: linear;
            background-size: cover;
            transform: scale(1.1) translateX(-2000px);
        }

        #gameCanvas {
            height: 800px;
            margin: 20px;
            width: 800px;
            background-color: black;
            border: 2px solid #808080;
            background-image: url(/images/asteroids/space1.jpg);
            display: table;
            margin: 0 auto;
            margin-top: 30px;
        }

        .no-display {
            display: none;
        }

        #time-counter {
            font-size: 44px;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, .3);
            color: #fff;
            padding: 20px;
            display: inline-block;
            position: absolute;
        }

        #fuel-reserve-container {
            width: 175px;
            border: 1px solid #808080;
            border-radius: 5px;
            height: 20px;
            padding: 3px;
        }

        #fuel-reserve {
            background-color: aqua;
            height: 100%;
            width: 33%;
            background: linear-gradient(360deg, rgba(3, 121, 3, 1) 0%, rgba(0, 73, 31, 1) 100%);
            background: linear-gradient(360deg, rgba(227, 177, 49, 1) 0%, rgba(205, 143, 16, 1) 100%);
            background: linear-gradient(360deg, rgba(247, 61, 61, 1) 0%, rgba(162, 5, 5, 1) 100%);
            border-radius: 3px;
        }

        .hud {
            position: absolute;
            top: 0;
            width: 100%
        }

        .hud>div {
            width: 800px;
            display: table;
            margin: 0 auto;
            padding-top: 37px;
        }

        .flex-container {
            display: flex;
        }

        .flex-container>div {
            flex: 1;
        }

        .flex-container>div.nogrow {
            flex: none;
        }

        .score {
            color: #fff;
            display: inline-block;
            background-color: #000;
            margin: 0;
            min-width: 100px;
            text-align: center;
            position: relative;
            border-radius: 5px;
            font-family: 'Major Mono Display', monospace;
        }

        .score-card {
            color: #fff;
            display: inline-block;
            margin: 0;
            min-width: 50px;
            text-align: center;
            position: relative;
            border-radius: 5px;
            font-family: 'Major Mono Display', monospace;
        }

        /* .score-card::before {
            content: ' ';
            position: absolute;
            border-bottom: 1px solid #fff;
            width: 10px;
            top: 50%;
            left: 0;

        }

        .score-card::after {
            content: ' ';
            position: absolute;
            border-bottom: 1px solid #fff;
            width: 10px;
            top: 50%;
            right: 0;
        } */

        .data-label {
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            display: block;
        }

        #wins {
            background-color: green;
            border-color: green;
        }

        #lost {
            background-color: red;
            border-color: red;
        }

        @keyframes dash {
            to {
                stroke-dashoffset: 0;
            }
        }

        @keyframes fade-in {
            from {
                opacity: 0;
            }

            50% {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes fade-in-last {
            from {
                opacity: 0;
            }

            90% {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes spin-in {
            from {
                opacity: .2;
                transform: rotate(0deg) scale(.2);
            }

            to {
                opacity: 1;
                transform: rotate(720deg) scale(1);
            }
        }

        .failure-icon {
            animation: spin-in 2s ease-in-out;
        }

        @keyframes fade-in-check {
            from {
                opacity: 0;
                transform: scale(.5);
            }

            50% {
                opacity: 0;
                transform: scale(.5);
            }

            95% {

                transform: scale(1.3);
            }

            to {
                opacity: 1;
                transform: scale(1);
            }
        }

        .circle-outline {
            stroke-dasharray: 2000;
            stroke-dashoffset: 2000;
            animation: dash 2s linear forwards;
            stroke: #32ba7c;
            stroke-width: 20px;
            fill: transparent;
        }

        #circle-outline .cls-1,
        #circle .cls-1 {
            fill: #32ba7c;
        }


        #shadow .cls-2-1 {
            fill: #0aa06e;
        }

        #check .cls-3 {
            fill: #fff;
        }

        #circle {
            animation: fade-in 2s ease-out;
        }

        #circle>circle.circle-fill {
            fill: #32ba7c;
        }

        #shadow {

            animation: fade-in-last 2s ease-out;
        }

        #check {
            animation: fade-in-check 2s ease-out;
            transform-origin: 50% 50%;
        }

        #round-result {
            width: 300px;
            position: absolute;
            top: calc(50vh - 170px);
            left: calc(50vw - 170px);
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
            /* -webkit-box-shadow: 0px 0px 15px 5px #2460ff; */
            box-shadow: 0px 0px 75px 5px #2460ff;
            display: none;
            text-align: center;
            color: #fff;
            transform-origin: 50% 50%;
        }

        @keyframes result-animation {
            from {
                opacity: 0;
                transform: scale(.5) translateY(0px);
            }
            85% {
                transform: scale(1.03) translateY(0px);
                opacity: .85;
            }
            95% {
                transform: scale(.97) translateY(0px);
                opacity: .95;
            }
            to {
                opacity: 1;
                transform: scale(1) translateY(0px);
            }
        }

        #round-result.lost {
            background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(51, 0, 0, 1) 100%);
            box-shadow: 0px 0px 75px 5px red;
            animation: result-animation 1s ease-in-out;
        }

        #round-result.won {
            background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 62, 22, 1) 100%);
            box-shadow: 0px 0px 75px 5px green;
            animation: result-animation 1s ease-in-out;
        }

        .round-result-won {
            display: none;
        }

        .round-result-lost {
            display: none;
        }

        #round-result.won .round-result-won {
            display: initial;
        }



        #round-result.lost .round-result-lost {
            display: initial;
        }

        .circle {
            transform: rotate(-180deg);
            transform-origin: 50% 50%;
        }

        .path {
            stroke-dasharray: 314.1592;
            stroke-dashoffset: 314.1592;
            transition: stroke-dashoffset 1s ease-out;
            transform-origin: 50% 50%;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        #small-moon {
            position: absolute;
            height: 91px;
            top: 7px;
            left: 7px;
        }
    </style>
</head>

<body>
    <div id="game-bg">
        <video autoplay="true" muted="true" src="/media/game-menu-bg.mp4"></video>
    </div>
    <div id="splash-screen">

    </div>
    <audio src="/media/Spy Hunter.mp3" preload="auto" loop="loop" id="bgMusic"></audio>
    <audio src="/sounds/asteroids/thrust.mp3" preload="auto" id="thrustSound"></audio>
    <audio src="/sounds/asteroids/bangLarge.mp3" preload="auto" id="bangLargeSound"></audio>
    <audio src="/sounds/asteroids/warning.mp3" preload="auto" id="warningSound"></audio>
    <audio src="/sounds/asteroids/win.mp3" preload="auto" id="winSound"></audio>
    <img src="/images/moon-landing/moon-rock.jpg" id="moonRock" class="no-display" />
    <div id="time-counter"></div>
    <canvas id="gameCanvas"></canvas>

    <div class="hud">
        <div>
            <div class="flex-container">
                <div class="nogrow" style="text-align: center;">
                    <div id="fuel-reserve-container">
                        <div id="fuel-reserve"></div>
                    </div>
                    <div class="data-label">Fuel</div>

                    <svg id="gage" style="height: 85px;margin-top: 20px;width: 134px" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 399 232.75902">
                        <defs>
                            <style>
                                .d-gage {
                                    letter-spacing: -.00002em;
                                }

                                .e-gage,
                                .f-gage {
                                    fill: none;
                                }

                                .e-gage,
                                .f-gage,
                                .g-gage {
                                    stroke-miterlimit: 10;
                                }

                                .e-gage,
                                .g-gage {
                                    stroke: #666;
                                }

                                .h-gage {
                                    letter-spacing: -.01297em;
                                }

                                .i-gage {
                                    letter-spacing: -.07101em;
                                }

                                .j-gage {
                                    letter-spacing: -.04501em;
                                }

                                .k-gage {
                                    letter-spacing: .00298em;
                                }

                                .f-gage {
                                    stroke: url(#b-gage);
                                    stroke-linecap: round;
                                    stroke-width: 24px;
                                }

                                .l-gage {
                                    fill: #fff;
                                }

                                .l-gage,
                                .m-gage {
                                    font-family: MyriadPro-Regular, Myriad Pro;
                                    font-size: 21px;
                                }

                                .g-gage {
                                    fill: url(#c-gage);
                                }
                            </style>
                            <linearGradient id="b-gage" x1="0" y1="120.00902" x2="399" y2="120.00902"
                                gradientTransform="matrix(1, 0, 0, 1, 0, 0)" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="lime" />
                                <stop offset=".51117" stop-color="#fcee21" />
                                <stop offset="1" stop-color="#ff1d25" />
                            </linearGradient>
                            <linearGradient id="c-gage" x1="174.5" y1="118.25902" x2="224.5" y2="118.25902"
                                gradientTransform="matrix(1, 0, 0, 1, 0, 0)" gradientUnits="userSpaceOnUse">
                                <stop offset="0" stop-color="#fff" />
                                <stop offset=".50838" stop-color="#000" />
                                <stop offset="1" stop-color="#e6e6e6" />
                            </linearGradient>
                        </defs>
                        <path class="f-gage"
                            d="M12,213.75902C12,110.20563,95.94661,26.25902,199.5,26.25902s187.5,83.94661,187.5,187.5" />
                        <line class="e-gage" x1="72.75" y1="49.75902" x2="94.75" y2="71.75902" />
                        <line class="e-gage" x1="325" y1="49.00902" x2="302.25" y2="71.75902" />
                        <!-- <text class="l-gage"
                    transform="translate(28.55047 150.12097) rotate(-63.87798)">
                    <tspan class="k-gage" x="0" y="0">S</tspan>
                    <tspan x="10.41553" y="0">a</tspan>
                    <tspan class="h-gage" x="20.5376" y="0">f</tspan>
                    <tspan class="d-gage" x="26.39697" y="0">e</tspan>
                </text>
                <text class="m-gage" transform="translate(171.68457 32.99827)">
                    <tspan x="0" y="0">Danger</tspan>
                </text>
                <text class="l-gage" transform="translate(344.41947 102.4022) rotate(62.80994)">
                    <tspan class="i-gage" x="0" y="0">T</tspan>
                    <tspan x="8.9458" y="0">oo </tspan>
                    <tspan class="j-gage" x="36.45557" y="0">F</tspan>
                    <tspan x="45.7373" y="0">ast</tspan>
                </text> -->
                        <path class="g-gage" id="gage-needle"
                            d="M204.5,232.25902h-10c-11.04569,0-20-7.39703-20-16.52174L199.5,4.25902h0l25,211.47826c0,9.1247-8.95431,16.52174-20,16.52174Z" />
                    </svg>
                    <div class="data-label">Landing Speed</div>
                </div>
                <div class="nogrow">

                </div>




                <div></div>
                <div class="nogrow">
                    <div class="flex-container">


                        <div style="margin-right: 20px;">
                            <h1 class="score" id="score"></h1><br>
                            <span class="data-label">Score</span>
                        </div>
                        <div style="margin-right: 20px;">
                            <h1 class="score-card" id="wins"></h1><br>
                            <span class="data-label">Wins</span>
                        </div>
                        <div style="margin-right: 20px;">
                            <h1 class="score-card" id="lost"></h1><br>
                            <span class="data-label">Lost</span>
                        </div>
                    </div>

                    <div class="flex-container">
                        <div></div>
                        <div class="nogrow" style="padding-right: 20px;position: relative;">
                            <svg style="height: 105px;width: 105px;">
                                <defs>
                                    <filter id="glow">
                                        <feGaussianBlur attr.stdDeviation="0" result="coloredBlur" />
                                        <feMerge>
                                            <feMergeNode in="coloredBlur" />
                                            <feMergeNode in="SourceGraphic" />
                                        </feMerge>
                                    </filter>
                                    <linearGradient id="linearId" x1="0%" y1="0%" x2="100%" y2="0%">
                                        <stop offset="0%" stop-color="#58bf74" />
                                        <stop offset="100%" stop-color="#58bf74" />
                                    </linearGradient>
                                </defs>
                                <circle id="outerCircleId" class="circle" fill="none"
                                    style="stroke:#afbaca; stroke-opacity: .2;stroke-width: 5;" cx="52" cy="52" r="50">
                                </circle>
                                <circle id="innerCircleId"
                                    style="stroke-dasharray: 314.159;stroke:url(#linearId);stroke-width: 5;"
                                    class="path circle" filter="url(#glow)"
                                    [style.stroke-dashoffset]="archCircumferenceBound" cx="52" cy="52" r="50"
                                    [style.stroke-width]="strokeCircleWidth" fill="none" />
                            </svg>
                            <div class="data-label">Gravity</div>
                            <img id="small-moon" src="/images/moon.png">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="round-result">
        <div class="round-result-won">
            <svg xmlns="http://www.w3.org/2000/svg" style="height: 150px;" viewBox="0 0 424 424">
                <defs>
                    <style>

                    </style>
                </defs>
                <g id="circle-outline">
                    <g>
                        <circle class="circle-outline" cx="212" cy="212" r="202" />

                    </g>
                </g>
                <g id="circle">
                    <circle class="circle-fill" cx="212" cy="212" r="202" />
                </g>
                <g id="shadow">
                    <path class="cls-2-1"
                        d="M910.89,445.08l-55.81-47.2L671.33,615.13l78.33,66.25C843.29,659.39,913,575.34,913,475A213.84,213.84,0,0,0,910.89,445.08Z"
                        transform="translate(-489 -264)" />
                </g>
                <g id="check">
                    <path class="cls-3"
                        d="M843.39,383.06l-30.61-26.12a19.88,19.88,0,0,0-28,2.22L658.11,507.6l-68.53-58.46a19,19,0,0,0-26.85,2.12l-27.2,31.89A19.05,19.05,0,0,0,537.66,510l83.65,71.36h0l30.61,26.12h0l1,.87a19.05,19.05,0,0,0,26.85-2.13L707,574.34a19.59,19.59,0,0,0,2.39-3.58L845.61,411.08A19.87,19.87,0,0,0,843.39,383.06Z"
                        transform="translate(-489 -264)" />
                </g>
            </svg>
            <h1>Landing Successful</h1>
            <p>Press the spacebar to play again</p>
        </div>
        <div class="round-result-lost">

            <svg style="height: 150px;" class="failure-icon" id="a" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 514 514">
                <defs>
                    <style>
                        .c {
                            fill: #7e272d;
                        }

                        .d {
                            filter: url(#b);
                        }

                        .e {
                            fill: #fff3ff;
                        }
                    </style>
                    <filter id="b">
                        <feGaussianBlur in="SourceAlpha" result="blur" stdDeviation="12" />
                        <feOffset dx="6" dy="6" in="blur" result="offsetBlurredAlpha" />
                        <feMerge>
                            <feMergeNode in="offsetBlurredAlpha" />
                            <feMergeNode in="SourceGraphic" />
                        </feMerge>
                    </filter>
                </defs>
                <circle class="c" cx="257" cy="257" r="257" />
                <g class="d">
                    <path class="e"
                        d="M154.88379,347.24164l65.98438-96.36133-55.52344-85.69922c-5.23047-8.31396-9.15332-15.45557-11.76855-21.4248-2.61523-5.96582-3.92285-11.69922-3.92285-17.2002,0-5.63281,2.51465-10.69336,7.54395-15.18848,5.0293-4.4917,11.16504-6.73926,18.40723-6.73926,8.31445,0,14.78613,2.44873,19.41309,7.34277,4.62695,4.89746,11.03027,13.98145,19.21191,27.25879l44.25781,71.61719,47.27539-71.61719c3.88867-6.03516,7.20801-11.19629,9.95801-15.49023,2.74707-4.29053,5.39746-7.8457,7.94629-10.66211,2.5459-2.81641,5.39746-4.92871,8.5498-6.33691,3.14941-1.4082,6.80566-2.1123,10.96387-2.1123,7.50977,0,13.64551,2.24756,18.40723,6.73926,4.75879,4.49512,7.1416,9.82617,7.1416,15.99316,0,8.98682-5.16406,21.19238-15.49023,36.61328l-58.13867,86.90625,62.56445,96.36133c5.63281,8.44922,9.72266,15.45898,12.27148,21.02246,2.5459,5.56738,3.82227,10.83203,3.82227,15.79199,0,4.69629-1.14062,8.9873-3.41992,12.875-2.28223,3.8916-5.50098,6.97559-9.65625,9.25391-4.1582,2.2793-8.85156,3.41992-14.08203,3.41992-5.63281,0-10.39453-1.17578-14.2832-3.52051-3.8916-2.34473-7.04102-5.26172-9.45508-8.75098-2.41406-3.48535-6.90918-10.25977-13.47852-20.31836l-51.90234-81.67578-55.12109,84.08984c-4.29395,6.70801-7.34277,11.40137-9.15332,14.08203-1.81055,2.68457-3.99219,5.2998-6.53809,7.8457-2.54883,2.5498-5.56641,4.55762-9.05273,6.03516-3.48926,1.47461-7.57812,2.21289-12.27148,2.21289-7.24219,0-13.24609-2.21289-18.00488-6.63867-4.76172-4.42578-7.1416-10.86328-7.1416-19.3125,0-9.92285,4.89453-22.05957,14.68555-36.41211Z" />
                </g>
            </svg>
            <h2>Crash and Burn</h2>
            <p>Press the spacebar to play again</p>
        </div>

    </div>

    <script src="/javascripts/jquery-2.1.3.min.js"></script>

    <script src="/javascripts/moon-lander/game-args.js"></script>
    <script src="/javascripts/moon-lander/point.js"></script>
    <script src="/javascripts/moon-lander/velocity.js"></script>
    <script src="/javascripts/moon-lander/ground.js"></script>
    <script src="/javascripts/moon-lander/flying-object.js"></script>
    <script src="/javascripts/moon-lander/lander.js"></script>
    <script src="/javascripts/moon-lander/game.js"></script>
    <script src="/javascripts/moon-lander/sounds.js"></script>
</body>

</html>