<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Pac-Man</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <style>
        html {
            height: 100%;
            overflow: hidden;

        }
        body {
            font-family: 'Roboto';
            background: black;
            color: #fff;
            height: 100%;
        }

        @keyframes pan-out {
            from {
                transform: scale(1) translateX(0px);
            }

            90% {
                transform: scale(1.09) translateX(0px);
            }

            95% {
                transform: scale(1.095) translateX(-2000px);
            }

            100% {
                transform: scale(1.1) translateX(-2000px);
            }
        }


        body {
            background-color: #000;
            overflow: hidden;
            height: 100%;
        }

        #splash-screen {
            background-image: url(/images/pack-man-splash.png);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: #000;
            animation-name: pan-out;
            animation-duration: 10s;
            animation-timing-function: linear;
            background-size: contain;
            transform: scale(1.1) translateX(-2000px);
        }


        @font-face {
            font-family: gameFont;
            src: url(/fonts/gomarice_game_continue_03.ttf);
        }

        h1 {
            font-family: gameFont;
            text-align: right;
        }

        #gameCanvas {
            height: 800px;
            margin: 20px;
            width: 800px;
            background-color: rgba(0,0,0,1);
            /*border: 2px solid #808080;*/
            display: table;
            margin: 0 auto;
            margin-top: 30px;
            padding: 2px;
            /*background-image: url('/images/pac-man-game-board.svg');*/
        }

        #scoreBox {
            position: absolute;
            width: 250px;
            box-shadow: 0px 0px 10px 0px #031f03;
            padding: 10px;
            border: 1px solid rgba(0,0,0,.1);
            border-radius: 5px;
        }

        #scoreTitle {
            border-bottom: 1px solid rgba(0,0,0,.1);
            font-size: 24px;
        }

        #livesCanvas {
            width: 250px;
            height: 100px;
        }
        #time-counter {
            font-size: 44px;
            border-radius: 5px;
            background-color: rgba(0,0,0,.3);
            color: #fff;
            padding: 20px;
            display: inline-block;
            position: absolute;
            top: 300px;
            width: 230px;
            box-shadow: 0px 0px 10px 0px #031f03;
        }
    </style>
</head>
<body id="body">
    <div id="splash-screen">

    </div>

    <audio src="/sounds/pac-man/coin.mp3" preload="auto" id="coinSound"></audio>
    <audio src="/sounds/pac-man/portal.mp3" preload="auto" id="portalSound"></audio>
    <audio src="/sounds/pac-man/die.mp3" preload="auto" id="dieSound"></audio>
    <audio src="/sounds/pac-man/ghost_die.mp3" preload="auto" id="ghostDieSound"></audio>
    <audio src="/sounds/pac-man/arcade_funk.mp3" preload="auto" id="invincibleMusic"></audio>
    <audio src="/sounds/pac-man/power_up.mp3" preload="auto" id="powerUpSound"></audio>
    <audio src="/sounds/pac-man/bg-music.mp3" preload="auto" loop="loop" id="bgMusic"></audio>


    <div id="time-counter"></div>
    <div id="scoreBox">
        <div id="scoreTitle">Score</div>
        <h1 id="score">0</h1>


        <canvas id="livesCanvas"></canvas>
    </div>
    <canvas id="gameCanvas"></canvas>
    <script src="/javascripts/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/hammer.min.js"></script>
    <script src="/javascripts/pac-man/game-args.js"></script>
    <script src="/javascripts/pac-man/game-grid.js"></script>
    <script src="/javascripts/pac-man/point.js"></script>
    <script src="/javascripts/pac-man/velocity.js"></script>
    <script src="/javascripts/pac-man/flying-object.js"></script>
    <script src="/javascripts/pac-man/moveable-player.js"></script>
    <script src="/javascripts/pac-man/pill.js"></script>
    <script src="/javascripts/pac-man/ghost.js"></script>
    <script src="/javascripts/pac-man/sounds.js"></script>
    <script src="/javascripts/pac-man/pac-man.js"></script>
    <script src="/javascripts/pac-man/game.js"></script>
</body>
</html>