<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pong</title>
            <style>
        html {
            height: 100%;
            margin-bottom: 0px;
        }

        body {
            height: 100%;
            margin-bottom: 0px;
            overflow: hidden;
            background: url('/images/product_generic_bg.jpg') no-repeat top center;
        }
            </style>
</head>
<body style="text-align: center">

    <script src="/javascripts/crafty-min.js" type="text/javascript"></script>
    <script src="/javascripts/pong.js" type="text/javascript"></script>
</body>
</html>
