<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/side-scroll-styles.css">
    <title>Game</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <div id="game-container">
        <div id="bg-sky"></div>
        <div id="bg-buildings"></div>
        <div id="bg-plants"></div>
        <div id="game-div">

        </div>
    </div>

    <div id="hud">
        <div class="hud-coin"></div>
    </div>

    <div id="toolbar">
        <!-- <div id="brick">
            <div id="brickheader">
                Brick</div>
        </div> -->

        <button id="add-brick">Add Brick</button>
        <button id="add-mystery">Add Mystery</button>
        <button id="add-spike-ball">Add Spike Ball</button>
        <button id="add-ram">Add Ram</button>
        <button id="serialize">Save</button>
        <button id="print-debug">Print Debug</button>
    </div>

    <div id="snackbar">
        Here is a snackbar message
    </div>
</body>
<script type="module" src="/javascripts/side-scroll/main.js"></script>

</html>